* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  width: 20%;
}

.main {
  position: relative;
  width: 55%;
}

.sidebar {
  width: 20%;
}

.banner {
  background-image: url(https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #4aa0ed;
  width: 100%;
  height: 200px;
}

.profile {
  height: 8rem;
  width: 8rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  overflow: hidden;
  bottom: -64px;
  left: 4rem;
}

.profile img {
  height: 8rem;
  width: 8rem;

}

.bio {
  /* padding: 10px; */
}

a.btn {
  float: right;
  padding: 5px 30px;
  text-transform: capitalize;
  border: 1px solid;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  border-radius: 15px;
}